<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `link` tags, or asynchronously
        on the client using a solution like AMD (RequireJS).  Or, if you like, you can
        take advantage of Sails' boilerplate asset management.

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically.  Both CSS (.css) and LESS (.less) are supported.
        In production, your styles will be minified and concatenated into a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/app/bower_components/bootstrap-sass/bootstrap-2.3.2.css">
    <link rel="stylesheet" href="/linker/app/bower_components/bootstrap-sass/bootstrap-2.3.2.min.css">
    <link rel="stylesheet" href="/linker/app/bower_components/bootstrap-sass/bootstrap-responsive-2.3.2.css">
    <link rel="stylesheet" href="/linker/app/bower_components/bootstrap-sass/bootstrap-responsive-2.3.2.min.css">
    <link rel="stylesheet" href="/linker/app/bower_components/bootstrap-sass/docs/assets/css/docs.css">
    <link rel="stylesheet" href="/linker/app/bower_components/bootstrap-sass/docs/assets/js/google-code-prettify/prettify.css">
    <link rel="stylesheet" href="/linker/app/bower_components/bootstrap-sass/docs/build/node_modules/hogan.js/web/stylesheets/layout.css">
    <link rel="stylesheet" href="/linker/app/bower_components/bootstrap-sass/docs/build/node_modules/hogan.js/web/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/linker/app/bower_components/bootstrap-sass/js/tests/vendor/qunit.css">
    <link rel="stylesheet" href="/linker/app/bower_components/bootstrap-sass/lib/tests/css-tests.css">
    <link rel="stylesheet" href="/linker/app/bower_components/es5-shim/tests/lib/jasmine.css">
    <link rel="stylesheet" href="/linker/app/bower_components/json3/benchmark/assets/jsperf.css">
    <link rel="stylesheet" href="/linker/app/bower_components/json3/page/style.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-connect/node_modules/connect/lib/public/style.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-cssmin/test/expected/inline_import.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-cssmin/test/expected/input_bannered.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-cssmin/test/expected/style.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-cssmin/test/expected/with-banner.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-cssmin/test/fixtures/inner/input_inline_import.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-cssmin/test/fixtures/inner/input_inline_import2.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-cssmin/test/fixtures/input_bannered.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-cssmin/test/fixtures/input_inline_import.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-cssmin/test/fixtures/input_inline_import2.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-cssmin/test/fixtures/input_one.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-cssmin/test/fixtures/input_two.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-imagemin/node_modules/gifsicle/node_modules/mocha/mocha.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-imagemin/node_modules/gifsicle/node_modules/mocha/node_modules/diff/style.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-imagemin/node_modules/jpegtran-bin/node_modules/mocha/mocha.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-imagemin/node_modules/jpegtran-bin/node_modules/mocha/node_modules/diff/style.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-imagemin/node_modules/optipng-bin/node_modules/mocha/mocha.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-imagemin/node_modules/optipng-bin/node_modules/mocha/node_modules/diff/style.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-imagemin/node_modules/pngquant-bin/node_modules/mocha/mocha.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-imagemin/node_modules/pngquant-bin/node_modules/mocha/node_modules/diff/style.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-watch/node_modules/gaze/node_modules/globule/test/fixtures/expand/css/baz.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-watch/node_modules/gaze/node_modules/globule/test/fixtures/expand/css/qux.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-watch/node_modules/tiny-lr/node_modules/qs/test/browser/mocha.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-watch/node_modules/tiny-lr/node_modules/qs/test/browser/qs.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-contrib-watch/test/fixtures/livereload/css/one.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-google-cdn/node_modules/bower/node_modules/hogan.js/test/qunit.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-google-cdn/node_modules/bower/node_modules/hogan.js/web/stylesheets/layout.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-google-cdn/node_modules/bower/node_modules/hogan.js/web/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-google-cdn/node_modules/bower/node_modules/read-package-json/test/fixtures/not-json.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-google-cdn/node_modules/bower/node_modules/request/node_modules/form-data/node_modules/async/deps/nodeunit.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-google-cdn/node_modules/bower/node_modules/unzip/node_modules/setimmediate/qUnitTest/lib/qunit.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-google-cdn/node_modules/bower/node_modules/update-notifier/node_modules/configstore/node_modules/js-yaml/node_modules/argparse/node_modules/underscore.string/test/test_underscore/vendor/qunit.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt-svgmin/node_modules/svgo/node_modules/js-yaml/node_modules/argparse/node_modules/underscore.string/test/test_underscore/vendor/qunit.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt/node_modules/js-yaml/node_modules/argparse/node_modules/underscore.string/test/test_underscore/vendor/qunit.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt/node_modules/underscore.string/test/test_underscore/vendor/qunit.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt/test/fixtures/expand/css/baz.css">
    <link rel="stylesheet" href="/linker/node_modules/grunt/test/fixtures/expand/css/qux.css">
    <link rel="stylesheet" href="/linker/node_modules/karma/node_modules/connect/lib/public/style.css">
    <link rel="stylesheet" href="/linker/node_modules/karma/node_modules/http-proxy/node_modules/pkginfo/docs/docco.css">
    <link rel="stylesheet" href="/linker/node_modules/karma/node_modules/log4js/node_modules/async/deps/nodeunit.css">
    <link rel="stylesheet" href="/linker/node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/uglify-js/docstyle.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

    		HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically.
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your templates using a server-side stringfile
              before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' boilerplate asset management.

      By default, filesin your `assets/linker/js` folder are included here
      automatically.  Both JavaScript (.js) and CoffeeScript (.coffee) are supported.
      In production, your scripts will be minified and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/app/bower_components/angular/angular.js"></script>
    <script src="/linker/app/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/linker/app/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/linker/app/bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="/linker/app/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/linker/app/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/linker/app/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/linker/app/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/linker/app/bower_components/angular-scenario/angular-scenario.js"></script>
    <script src="/linker/app/bower_components/angular-scenario/jstd-scenario-adapter-config.js"></script>
    <script src="/linker/app/bower_components/angular-scenario/jstd-scenario-adapter.js"></script>
    <script src="/linker/app/bower_components/jquery/jquery.js"></script>
    <script src="/linker/js/oui.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
